body{
 background-color: aqua;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .topnav a:hover {
    background-color: rgb(18, 99, 221);
    color: black;
  }
  

  .topnav a.active {
    background-color: #0704aa;
    color: white;
  }

  .header {
    padding: 0px;
    text-align: center;
    background: aqua;
    color: white;
    font-size: 30px;
  }

  .header1{
      color: blue;
  }

  table, td, th {  
    border: 1px solid rgb(7, 146, 238);
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }

  .center {
    text-align: center
   }

   .img1{
     height: 400px;
     position: relative; left: 600px
   }

   .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }


    input[type=text], select, textarea {
      width: 100%; 
      padding: 12px; 
      border: 1px solid #ccc; 
      border-radius: 4px; 
      box-sizing: border-box; 
      margin-top: 6px; 
      margin-bottom: 16px;
      resize: vertical 
    }
    

    input[type=submit] {
      background-color: #044caa;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    

    input[type=submit]:hover {
      background-color: #1083c5;
    }
    

    .container {
      border-radius: 5px;
      background-color: aqua;
      padding: 20px;
    }